@import "tailwindcss";

@theme inline {
  --font-satoshi: "Satoshi", sans-serif;
  --font-cabinet: "Cabinet Grotesk", sans-serif;
}

body {
  background: #ffffff;
  color: #000000;
}

h1, h2, h3 {
  font-family: var(--font-cabinet);
}
